.image-gallery-attachments {
    background: #fff;
    padding: 3px;
    float: left;
    clear: both;
}

.image-gallery-thumbnail-wrapper {
    float: left;
    width: 45%;
    height: 90px;
}

.image-gallery-thumbnail-wrapper img {
    max-height: 100%;
    max-width: 100%;
}
